@model PaymentViewModel

@{
    ViewData["Title"] = "Payment";
}
<div class="text-center">
    <h1 class="display-4">Payment</h1>
</div>

<div class="card-payment-form">

    <form action="/card" method="get">
        <div>
            <label>Card Number:</label>
            <input class="form-control js-card-payment-cardnumber"
                   name="cardnumber"
                   value="@Model.PaymentOptions.CardNumber" />
        </div>
        <div>
            <label>Expiration Month:</label>
            <input class="form-control js-card-payment-expmonth"
                   name="expmonth"
                   value="@Model.PaymentOptions.ExpirationMonth" />
        </div>
        <div>
            <label>Expiration Year:</label>
            <input class="form-control js-card-payment-expyear"
                   name="expyear"
                   value="@Model.PaymentOptions.ExpirationYear" />
        </div>
        <div>
            <label>Amount:</label>
            <input class="form-control js-card-payment-amount"
                   name="amount"
                   value="@Model.PaymentOptions.Amount" />
        </div>
        <br />
        <div class="text-center">
            <button type="button" class="btn btn-primary js-card-payment">
                Pay
            </button>
        </div>
        <br />
    </form>

</div>



<div class="alert alert-success d-none" role="alert">
    Success Payment!
</div>


<div class="alert alert-danger d-none" role="alert">
    Something Went Wrong...
</div>
